<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BASICA! A Free Bootstrap3 HTML5 CSS3 Template by Vactual Art</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
	<link rel="stylesheet" href="css/main.css">
    <link href="css/custom.css" rel="stylesheet">
	
	<script src="//use.edgefonts.net/bebas-neue.js"></script>

    <!-- Custom Fonts & Icons -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/icomoon-social.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	
	<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	

</head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="Basica"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/nosotros">Sobre Nosotros</a></li>
                    <li class="active"><a href="#">Cartelera</a></li>
                    <li><a href="/galeria">Galeria</a></li>
                    <li><a href="/log">Inicio Sesion</a></li>
                </ul>
            </div>
        </div>
    </header><!--/header-->


        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Our Services </h1>
					</div>
				</div>
			</div>
		</div>
		
		
        <div class="section">
	    	<div class="container">
				<div class="row">
				<div class="col-sm-12">
						<h2>We are leading company</h2>
						<h3>Specializing in Wordpress Theme Development</h3>
						<p>
							Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id. Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id.
						</p>
						<p>
							Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque, orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem. Praesent consectetur tristique augue, eget elementum diam suscipit id.
						</p>						
					</div>
				</div>
			</div>
		</div>

<hr>			
        
        <div class="section">
	        <div class="container">
	        	<div class="row">
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-calendar"></i>
		        			<h3>Aliquam in adipiscing</h3>
		        			<p>Praesent rhoncus mauris ac sollicitudin vehicula. Nam fringilla turpis turpis, at posuere turpis aliquet sit amet condimentum</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-briefcase"></i>
		        			<h3>Curabitur mollis</h3>
		        			<p>Suspendisse eget libero mi. Fusce ligula orci, vulputate nec elit ultrices, ornare faucibus orci. Aenean lectus sapien, vehicula</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-th-large"></i>
		        			<h3>Vivamus mattis</h3>
		        			<p>Phasellus posuere et nisl ac commodo. Nulla facilisi. Sed tincidunt bibendum cursus. Aenean vulputate aliquam risus rutrum scelerisque</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-home"></i>
		        			<h3>Aliquam in adipiscing</h3>
		        			<p>Praesent rhoncus mauris ac sollicitudin vehicula. Nam fringilla turpis turpis, at posuere turpis aliquet sit amet condimentum</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-cog"></i>
		        			<h3>Curabitur mollis</h3>
		        			<p>Suspendisse eget libero mi. Fusce ligula orci, vulputate nec elit ultrices, ornare faucibus orci. Aenean lectus sapien, vehicula</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper">
		        			<i class="icon-camera"></i>
		        			<h3>Vivamus mattis</h3>
		        			<p>Phasellus posuere et nisl ac commodo. Nulla facilisi. Sed tincidunt bibendum cursus. Aenean vulputate aliquam risus rutrum scelerisque</p>
		        			<a href="#" class="btn">Read more</a>
		        		</div>
	        		</div>
	        	</div>
	        </div>
	    </div>


<hr>
	
	    <!-- Our Clients -->
	    <div class="section">
	    	<div class="container">
	    		<h2>Our Happy Clients</h2>
				<div class="clients-logo-wrapper text-center row">
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-1.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-2.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-3.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-4.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-5.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-6.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-7.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-8.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-9.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-10.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-11.jpg" alt="Client Name"></a></div>
					<div class="col-lg-1 col-md-1 col-sm-3 col-xs-6"><a href="#"><img src="img/logos/logo-12.jpg" alt="Client Name"></a></div>
				</div>
			</div>
	    </div>
	    <!-- End Our Clients -->

	    <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
			
		    	<div class="row">
				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contact Us</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> 123 Downtown Avenue, Manhattan, New York, United States of America<br/>
	        				<b>Phone:</b> +1 123 45678910<br/>
	        				<b>Fax:</b> +1 123 45678910<br/>
	        				<b>Email:</b> <a href="mailto:info@yourcompanydomain.com">info@yourcompanydomain.com</a>
	        			</p>
		    		</div>				
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Our Social Networks</h3>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
		    			<div>
		    				<img src="img/icons/facebook.png" width="32" alt="Facebook">
		    				<img src="img/icons/twitter.png" width="32" alt="Twitter">
		    				<img src="img/icons/linkedin.png" width="32" alt="LinkedIn">
							<img src="img/icons/rss.png" width="32" alt="RSS Feed">
						</div>
		    		</div>
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>About Our Company</h3>
		    				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.</p>
		    		</div>

		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2014 <a href="http://www.vactualart.com/portfolio-item/basica-a-free-html5-template/">Basica</a> Bootstrap HTML Template. By <a href="http://www.vactualart.com">Vactual Art</a>.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>

        <!-- Javascripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
		
		<!-- Scrolling Nav JavaScript -->
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/scrolling-nav.js"></script>	
        <script src="https://unpkg.com/adonis-websocket-client@1.0.2/dist/ws.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                var info = {
                    asientoActual:"",
                    asientoAnterior:"",
                    error:false,
                    usuario:{{currentUser.id}}
                }
                const io = ws('')
                const client = io.channel('Asientos').connect()
                client.joinRoom('SalaA', {}, function (error, joined) {
                    console.log(joined)
                    console.log(error)
                })
                client.on('message',function(a,b){
                    if(a.error == 'False'){
                        var atributo = $('#'+a.asientoActual).attr("class")
                        if(atributo == 'cuadrado-Seleccionado' && info.usuario != {{currentUser.id}}){
                            info.error = 'True'
                            client.emit("message",info)
                        }else{
                            $('#'+a.asientoActual).attr("class",'cuadrado-Seleccionado')
                            $('#'+a.asientoAnterior).attr("class",'cuadrado-Noseleccionado')
                        }
                    }else{
                        if(info.usuario = {{currentUser.id}}){
                            alert("Este asiento se encuentra ocupado")
                            $('#'+a.asientoAnterior).attr("class",'cuadrado-Seleccionado')
                            $('#'+a.asientoActual).attr("class",'cuadrado-Noseleccionado')
                        }
                    }
                })
            
                agregarAsientos();
                function agregarAsientos(){
                    for(var i = 1; i<=50; i++){
                        $('#content-2').append('<div class="col-sm-2"><div id="Asiento-'+i+'"  class="cuadrado-Noseleccionado">'+i+'</div></div>')
                        logicaWebsocket(i)
                    } 
                }
                function insertarAsiento(Asiento){
                    $.ajax({
                        type:'post',
                        url:'/Login/insertarAsiento',
                        data:{Asiento:Asiento,Venta:1}
                    }).done(function(response){
                        console.log(response)
                    });
                }
                function eliminarAsiento(Asiento){
                    $.ajax({
                        type:'post',
                        url:'/Login/eliminarAsiento',
                        data:{Asiento:Asiento,Venta:1}
                    }).done(function(response){
                        
                    });
                }
                function logicaWebsocket(i){
                    $('#div-Asientos div #Asiento-'+i).bind('click',function(){
                            if(clase != 'cuadrado-Ocupado'){
                                var Asiento = $(this).attr("id").split('-')                            
                                var clase = $(this).attr("class")
                        
                               if(clase == 'cuadrado-Noseleccionado'){
                                    info.asientoAnterior = info.asientoActual
                                    info.asientoActual = $(this).attr("id")
                                    info.error = 'False'
                                    insertarAsiento(Asiento[1])
                                    $('#'+info.asientoAnterior).attr("class","cuadrado-Noseleccionado")
                                    $('#'+info.asientoAnterior).attr("usuario","")
                                    $(this).attr("class","cuadrado-Seleccionado")
                                    $(this).attr("usuario",{{currentUser.id}})
                                    client.emit("message",info)
                                }else{
                                    var usuarioAsiento =  $(this).attr("usuario",{{currentUser.id}})
                                    if(usuarioAsiento != {{currentUser.id}}){
                                        alert("Se encuentra Ocupado este Asiento")
                                    }
                                }
                            }else{
                                alert("Se encuentra Ocupado este Asiento")
                            }  
                    })
                }
            });
        </script>
        <style>
        
            .div-imagen{
                height:350px;
                background:url("/img/asientos-cine.jpg") center no-repeat;
                background-size:cover;
                
            }
            .cuadrado-Noseleccionado{
                width: 75;
                height: 75;
                border: 3px solid #555;
                font-size: small;
                color:#000;
                background-color: floralwhite;
            }
            .cuadrado-Seleccionado{
                width: 75;
                height: 75;
                border: 3px solid #555;
                width: 75;
                height: 75;
                border: 3px solid #555;
                font-size: small;
                color:#000;
                background-color:forestgreen;
            }
            .cuadrado-Ocupado{
                width: 75;
                height: 75;
                border: 3px solid #555;
                width: 75;
                height: 75;
                border: 3px solid #555;
                font-size: small;
                color:darkred;
                background-color:forestgreen;
            }
            * {
                 font-family: Arial, sans;
                 margin: 0;
                 padding: 0;
                 box-sizing: border-box;
                 -moz-box-sizing: border-box;
                }
                h1 {
                 margin: 1em 0;
                 text-align: center;
                }
                #container {
                 margin: 0 auto;
                 width: 50%; /* Ancho del contenedor */
                }
                #container input {
                 height: 2.5em;
                 visibility: hidden;
                }
                #container label {
                 background: #f9f9f9; /* Fondo de las pestañas */
                 border-radius: .25em .25em 0 0;
                 color: #888; /* Color del texto de las pestañas */
                 cursor: pointer;
                 display: block;
                 float: left;
                 font-size: 1em; /* Tamaño del texto de las pestañas */
                 height: 2.5em;
                 line-height: 2.5em;
                 margin-right: .25em;
                 padding: 0 1.5em;
                 text-align: center;
                }
                #container input:hover + label {
                 background: #ddd; /* Fondo de las pestañas al pasar el cursor por encima */
                 color: #666; /* Color del texto de las pestañas al pasar el cursor por encima */
                }
                #container input:checked + label {
                 background: #f1f1f1; /* Fondo de las pestañas al presionar */
                 color: #444; /* Color de las pestañas al presionar */
                 position: relative;
                 z-index: 6;
                }
                #content {
                 background: #f1f1f1; /* Fondo del contenido */
                 border-radius: 0 .25em .25em .25em;
                 min-height: 20em; /* Alto del contenido */
                 position: relative;
                 width: 100%;
                 z-index: 5;
                }
                #content #content-1,
                #content #content-2,
                #content #content-3{
                    opacity: 0;
                    padding: 1.5em;
                    z-index: -100
                    position: absolute
                }
                #content-2 {
                    height:350px;
                    background:url("/img/asientos-cine.jpg") center no-repeat;
                    background-size:cover;
                }
                #container input#tab-1:checked ~ #content #content-1 ,
                #container input#tab-2:checked ~ #content #content-2 ,
                #container input#tab-3:checked ~ #content #content-3 {
                 opacity: 1;
                 z-index: 100;
                }    
        </style>
    </body>
    </html>