{% extends 'master' %}

{% block content %}
<script src="admin_template/plugins/jQuery/jquery-3.1.1.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="js/js/js_Cartelera.js"></script>

        <div class="box" id="Pnl_Tabla">
            <div class="box-header">
              <h3 class="box-title">Cartelera</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" id="Contenedor_Funciones">
            </div>
        </div>

{% endblock %}