{% extends 'master' %}

{% block content %}
<script src="/assets/jquery-3.2.1.js"></script>
<!-- jQuery UI 1.11.4 -->
<link href="/campo_select/dist/css/bootstrap-select.min.css" type="text/css" rel="stylesheet">
<script src="/campo_select/dist/js/bootstrap-select.min.js"></script>
<script src="js/js/js_Funciones.js"></script>

        <div class="box" id="Pnl_Tabla">
            <div class="box-header">
              <h3 class="box-title">Funciones</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="example1_length">
                                <button type="submit" class="btn btn-primary" id="Btn_Registra">Registrar</button>
                                <!-- <label>Show 
                                    <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> entries
                                </label> -->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="example1_filter" class="dataTables_filter">
                                <!-- <label>Search:
                                    <input type="search" class="form-control input-sm" placeholder="" aria-controls="example1">
                                </label> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 85px;">Fecha</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 70px;">Hora</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 70px;">Hora Termino</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 200px;">Pelicula</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 70px;">Sala</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 70px;">Capacidad</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 70px;">Tipo Funcion</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 70px;">Costo Adicional</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 20px;"></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1">Fecha</th>
                                    <th rowspan="1" colspan="1">Hora</th>
                                    <th rowspan="1" colspan="1">Hora Termino</th>
                                    <th rowspan="1" colspan="1">Pelicula</th>
                                    <th rowspan="1" colspan="1">Sala</th>
                                    <th rowspan="1" colspan="1">Capacidad</th>
                                    <th rowspan="1" colspan="1">Tipo Funcion</th>
                                    <th rowspan="1" colspan="1">Costo Adicional</th>
                                    <th rowspan="1" colspan="1"></th>
                                </tfoot>
                              </table>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button previous disabled" id="example1_previous">
                                            <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                                        </li>
                                        <li class="paginate_button active">
                                            <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a>
                                        </li>
                                        <li class="paginate_button ">
                                            <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a>
                                        </li>
                                        <li class="paginate_button next" id="example1_next">
                                            <a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
        </div>

        <div class="box box-primary"  id="Pnl_Registro" style="display: none;">
            <div class="box-header with-border">
              <h3 class="box-title" id="titulo_formulario">Catalogo Roles</h3>
            </div>
            <form id="formulario" role="form" method="POST" action="/nva_sala">
            {{ csrfField }}
              <div class="box-body">
                  <div class="row">
                      
                      <div class="col-lg-9">
                          <div class="row">
                          <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                  <label for="fecha">Fecha</label>
                                  <input type="text" class="form-control" id="id" name="id" placeholder="id">
                                  <input type="text" class="form-control" id="fecha" name="fecha" placeholder="Fecha" style="text-transform: uppercase;">
                                </div>
                              </div>
                              <div class="ccol-md-3 col-lg-3">
                                <div class="form-group">
                                  <label for="hora">Hora De Inicio</label>
                                  <input type="text" class="form-control" id="hora" name="hora" placeholder="Ej. 19:34">
                                </div>
                              </div>
                              <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                  <label for="hora">Hora De Termino</label>
                                  <input type="text" class="form-control" id="hora_termino" name="hora_termino" placeholder="Ej. 19:34">
                                </div>
                              </div>
                              <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label for="id_tipo_funcion">Tipo Funcion</label>
                                    <select class="form-control" class="selectpicker" id="id_tipo_funcion" name="id_tipo_funcion">
                                     </select>
                                </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-8 col-lg-8">
                                  <div class="form-group">
                                      <label for="pelicula">Nombre de Pelicula</label>
                                      <select class="form-control" class="selectpicker" id="id_pelicula" name="id_pelicula">
                                      </select>
                                  </div>
                              </div>
                              <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                  <label for="duracion">Duracion en Minutos</label>
                                  <input type="text" class="form-control" id="duracion" name="duracion" placeholder="Duracion" readonly="true">
                                </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="id_sala">Sala</label>
                                    <select class="form-control" class="selectpicker" id="id_sala" name="id_sala">
                                     </select>
                                </div>
                              </div>
                              <div class="ccol-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="capacidad">Capacidad</label>
                                    <input type="number" class="form-control" id="capacidad" name="capacidad" placeholder="Capacidad" disabled>
                                </div>
                              </div>
                              <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                  <label for="costo_adicional">Costo Adicional</label>
                                  <input type="text" class="form-control" id="costo_adicional" name="costo_adicional" placeholder="Costo Adicional">
                                </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3">
                      <img src="/imagenes/Portada.jpg" id="imagen_pelicula" class="img img-responsive">
                      </div>
                      
                      
                  </div>
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" id="Btn_Cancela" class="btn btn-primary">Cancelar</button>
              </div>
            </form>
          </div>
{% endblock %}