{% extends 'master' %}
{% block content %}
    <script src="admin_template/plugins/jQuery/jquery-3.1.1.min.js"></script>
    <script src="/js/chart.js"></script>
    <script src="admin_template/js/ws.js"></script>
    <div>
        <div class="box box-primary">
            <div class="box-body">
                <canvas id="chart" style="height=100px;width=200px"></canvas>
            </div>
        </div>
    </div>
<script type="text/javascript">
    var chat_section = document.getElementById('chat-box');
	var chat_connected = document.getElementById('chat-connected');
	const io = ws('')
	const cliente = io.channel('Ventas').connect(function(error, connected){
		// console.log(error, connected)
	});
    cliente.on('message', function(message){
		var ctx = document.getElementById('chart').getContext('2d')
        var label=[];
        var dat=[];
        $.ajax({
          url: "datos_grafica",
          context: document.body
        }).done(function(e) {
	       $.each(e,function(index,value){
               label.push(value.name);
               dat.push(parseInt(value.data));
            });
            var chart = new Chart(ctx)
          chart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
              labels: label,
              datasets: [{
                data: dat,
                label: 'Average',
               backgroundColor: 'rgba(4, 10, 72, 0.82)',
                borderColor: 'rgba(48, 3, 237, 0.96)',
                borderWidth: 1
              }]
            },
            options: {
              animation: {
                duration: 0
              },
              hover: {
                    animationDuration: 0
                },
              scales: {
                yAxes: [{
                  barPercentage: .9,
                  //barThickness: 20
                }],
                xAxes: [{
                  ticks: {
                    min: 0,
                    max: 50
                  }
                }]
              }
            }
          }); //final chart
        });//final done function
    });//final clienteon
   
    
    
</script>
{% endblock %}