{% extends 'master' %}

{% block content %}
<script src="Tema/plugins/jQuery/jquery-3.1.1.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="js/ws.js"></script>
<!-- <script src="js/js_Pedido.js"></script> -->

        <div class="box" id="Pnl_Tabla">
            <div class="box-header">
              <h3 class="box-title">Pedidos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="example1_length">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div id="example1_filter" class="dataTables_filter">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 20;">Cliente</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 80;">Cliente</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 80;">Pedido</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 80px;">Fecha</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 150;">Hora</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 250px;">Estado</th>
                                        <th tabindex="0" rowspan="1" colspan="1" style="width: 20px;"></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th rowspan="1" colspan="1"></th>
                                    <th rowspan="1" colspan="1">Cliente</th>
                                    <th rowspan="1" colspan="1">Pedido</th>
                                    <th rowspan="1" colspan="1">Fecha</th>
                                    <th rowspan="1" colspan="1">Hora</th>
                                    <th rowspan="1" colspan="1">Estado</th>
                                    <th rowspan="1" colspan="1"></th>
                                </tfoot>
                              </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="box box-primary"  id="Pnl_Registro" >
            <div class="box-header with-border">
              <h3 class="box-title" id="titulo_formulario">Menu</h3>
            </div>
            <form id="formulario">
            {{ csrfField }}
              <div class="box-body">
                  <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" role="form">
                                    <h3>Datos del Pedido</h3>
                                    <div class="form-group">
                                        <label>Cliente </label><label id="personas_id"></label> <label id="cliente"></label>
                                    </div>
                                    <div class="form-group">
                                        <label id="id_pedido"></label>
                                    </div>
                                    <div class="form-group">
                                        <label id="fecha"></label>
                                    </div>
                                    <div class="form-group">
                                        <label id="hora"></label>
                                    </div>
                                    <div class="form-group">
                                        <label id="total"></label>
                                    </div>
                                    <div class="form-group">
                                        <label for="estado" id="estado"></label>
                                       <!-- <label for="estado">Estado de Pedido</label>
                                        <select class="form-control" class="selectpicker" id="estado" name="estado">
                                            <option value="SOLICITUD">SOLICITUD</option>
                                            <option value="PREPARACION">PREPARACION</option>
                                            <option value="COMPLETADO">COMPLETADO</option>
                                            <option value="FINALIZADO">FINALIZADO</option>
                                        </select> -->
                                    </div>
                                </form>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <h3>Orden</h3>
                            </div>
                            <div class="col-md-8 col-lg-8">
                                <h3 id="Total" style="float: right;"></h3>
                            </div>
                          </div>
                          <table id="tabla_orden" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info" width="350px">
                                <thead>
                                    <tr role="row">
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 180px;">Platillo</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 50px;">Precio</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 50px;">Cant.</th>
                                        <th tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 100px;">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_orden">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Platillo</th>
                                        <th rowspan="1" colspan="1">Precio</th>
                                        <th rowspan="1" colspan="1">Cantidad</th>
                                        <th rowspan="1" colspan="1">Total</th>
                                    </tr>
                                </tfoot>
                           </table>
                      </div>
                  </div>
              </div>
              <div class="box-footer">
                <button type="button" class="btn btn-primary" id="Btn_Guardar">Completa Pedido</button>
                <button type="button" id="Btn_Cancela" class="btn btn-primary">Regresar</button>
              </div>
            </form>
          </div>

<script type="text/javascript">

$(document).ready(function(){
    const io = ws('');
	const cliente = io.channel('Pedidos').connect(function(error, connected){});
    
    var tab_orden=document.getElementById('tbody_orden');
    var tab_pedido=document.getElementById('tbody');
    var Pnl_Registro=document.getElementById('Pnl_Registro');
    var Pnl_Tabla=document.getElementById('Pnl_Tabla');
    var rol=document.getElementById('rol_usuario');
    //alert(rol.value);
    //alert($("#rol_usuario").val());
    var numero_pedido=0;
    $("#EnPantalla").text("Pedidos a Preparacion")
    var Movimiento ="";
    Carga_Datos("/all_pedidos_estado/PREPARACION");
    Deshabilita_Registro();
    $("#Btn_Cancela").click(function(){
        Deshabilita_Registro();
    });//final btin registra click
    
    function Hora(){
        var Digital=new Date();
        var hours=Digital.getHours();
        var minutes=Digital.getMinutes();
        var seconds=Digital.getSeconds();
        var dn="AM";
        if (hours>12){
        dn="PM";
        hours=hours-12;
        }
        if (hours==0)
        hours=12;
        if (minutes<=9)
        minutes="0"+minutes;
        if (seconds<=9)
        seconds="0"+seconds;
        return hours + ":" + minutes;
    }
    
    function Fecha(){
        var Mes = new Array("01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12");
        var Hoy = new Date();
        var Anio = Hoy.getFullYear();
        var FechaHoy=Anio + "/" + Mes[Hoy.getMonth()] + "/" + Hoy.getDate();
        return FechaHoy;
    }
    
    $("#Btn_Guardar").click(function(e){
        e.preventDefault();
        var cte=$("#personas_id").text();
        var Orden ={
            'hora':Hora(),
            'fecha':Fecha(),
            'estado':"COMPLETADO",
            'personas_id': $("#personas_id").text(),
            'rol_personas_id': '{{ currentUser.id }}',
            'id':numero_pedido
        };
        console.log(Orden);
             $.ajax({
                 url:"/act_edo_pedido",
                 type:'post',
                 data:Orden,
                 datatype:'json'
             }).done(function(response){
                    console.log(response.id);
                    Deshabilita_Registro();
                    Carga_Datos("/all_pedidos_estado/PREPARACION");
                    cliente.emit('pedido',{'estado': 'salida', 'cliente':cte, 'id': numero_pedido, 'actualizacion':"Su pedido con numero "+ numero_pedido + " esta completo y listo"});
            });//final ajax
    });
    
    $('#tbody').on('click', '.Btn_Editar', function(e) {
        e.preventDefault();
        $("#titulo_formulario").text("Edicion de Pedido");
        $('#formulario').attr('action','/edit_pedido');
        Movimiento="Editar"
        var id=$(this).attr("id");
        var valores="";
        var pedido = [];
        pedido.push(id);
        $(this).parents("tr").find("td").each(function(){
            pedido.push($(this).html());
            valores+=$(this).html()+"\n";
        });
        console.log(pedido);
        Habilita_Registro();
        $("#cliente").text(pedido[2]);
        $("#personas_id").text(pedido[1]);
        $("#id_pedido").text("No. Pedido: " + pedido[0].toString());
        $("#fecha").text("Fecha: " + pedido[4]);
        $("#hora").text("Hora: " + pedido[5]);
        //seleccionar(pedido[4],"estado");
        $("#estado").text("Estado del Pedido: " + pedido[6]);
        numero_pedido=pedido[0];
        LlenarOrden();
    });
    
    function LlenarOrden(){
         $.ajax({
             url:"/detalle_orden/" + numero_pedido,
             type:'post',
             data:"",
             datatype:'json'
         }).done(function(response){
             tab_orden.innerHTML="";
            $.each(response,function(a,b){
                tab_orden.innerHTML +=
                '<tr  role="row" class="odd">'+
                '<td class="alias" style="width: 180px;">'+ response[a].nombre_producto +'</td>'+
                '<td class="alias" style="width: 50px; text-align: right;">'+ response[a].precio+'</td>'+
                '<td class="alias" style="width: 50px; text-align: right;">'+ response[a].cantidad +'</td>'+
                '<td class="alias" style="width: 50px; text-align: right;">'+ response[a].total_platillo +'</td>'+
                '</tr>';
            });// final each
        });//final ajax
    }
    
    function seleccionar(texto,componente) {
       var combo = document.getElementById( componente );
       var cantidad = combo.length;
        console.log(componente + " " + cantidad +" "+texto);
       for (i = 0; i < cantidad; i++) {
          if (combo.options[i].text == texto) {
              combo.options[i].selected = true;
              break;
          }   
       }
    }
    
    function Habilita_Registro(){
        $("#Pnl_Registro").show();
        $("#Pnl_Tabla").hide();
    }
    
    function Deshabilita_Registro(){
        $("#Pnl_Registro").hide();
        $("#Pnl_Tabla").show();
    } 
    
    
    function Carga_Datos(ruta){
        $.ajax({
             url:ruta,
             type:'post',
             data:"",
             datatype:'json'
         }).done(function(response){
                tab_pedido.innerHTML="";
            $.each(response,function(a,b){
                tab_pedido.innerHTML +=
                '<tr  role="row" class="odd" id="'+ response[a].id +'">'+
                '<td class="pedido">'+ response[a].personas_id +'</td>'+
                '<td class="pedido">'+ response[a].nombre+ " " + response[a].a_paterno + " " + response[a].a_materno +'</td>'+
                '<td class="pedido">'+ response[a].id +'</td>'+
                '<td class="fecha">'+ response[a].fecha +'</td>'+
                '<td class="hora">'+ response[a].hora +'</td>'+
                '<td class="estado">'+ response[a].estado +'</td>'+
                '<td class="Btn_Editar"  id="'+ response[a].id +'"><button class="btn btn-primary" type="button"><i class="fa fa-edit"></i></button></td>'+
                '</tr>';
            });// final each
        });//final ajax
    }//final function carga Datos
});
</script>

{% endblock %}