<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cine GO | Recorriendo tu Alma</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="Tema/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="Tema/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="Tema/plugins/jQuery/jquery-3.1.1.min.js"></script>   
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</head>
    
<body class="hold-transition login-page">
    <div class="row">
        <div class="col-md-4 col-lg-4"></div>
        <div class="col-md-4 col-lg-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title" id="titulo_formulario">Registro de Clientes</h3>
                </div>
                <div>
                </div>
                 {% for error in old('errors') %} 
                    <div class="alert alert-success alert-dismissible" style="display:none" id="alerta">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-info"></i>{{ error.message }}</h4>
                    </div>
                {% endfor %}
                <form id="formulario" role="form" method="POST" action="/reg_cte">
                    {{ csrfField }}
                    <div class="box-body" id="Pnl_Registro" >
                        <div class="alert alert-success alert-dismissible" style="display:none" id="alerta">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-info"></i> Ahora puedes iniciar Sesion</h4>
                            Info alert preview. This alert is dismissable.
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="nombre">Nombres</label>
                                    <input type="hidden" class="form-control" id="id_persona" name="id_persona" placeholder="Ingrese su nombre(s)">
                                    <input style="text-transform: uppercase;" type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre(s)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="a_paterno">Apellido Paterno</label>
                                    <input style="text-transform: uppercase;" type="text" class="form-control" id="a_paterno" name="a_paterno" placeholder="Ap. Paterno">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="a_materno">Apellido Materno</label>
                                    <input style="text-transform: uppercase;" type="text" class="form-control" id="a_materno" name="a_materno" placeholder="Ap. Materno">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="nombre">Direccion</label>
                                    <input style="text-transform: uppercase;" type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese su direccion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="telefono">Numero Telefono</label>
                                    <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="NUMERO DE TELEFONO">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="EMAIL">
                                </div>
                            </div>
                        </div>
                        <div class="form-group pwd" style="display:none">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password" name="password" placeholder="INGRESE SU PASSWORD">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" id="Btn_Registra" class="btn btn-primary">Guardar</button>
                        <a type="button" id="Btn_Cancela" href="/log" class="btn btn-primary">Volver al Login</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 col-lg-4"></div>
        </div>
    </body>
    <script type='text/javascript'>
        $(document).ready(function(){
            $("#Btn_Registra").click(function(){
                var f=$(this);
                var formData = new FormData(document.getElementById("formulario"));
                //formData.append("dato", "valor");
                formData.append(f.attr("name"), $(this)[0].files);
                console.log(formData);
                $.ajax({
                    url:'/nvo_cte',
                    type:'post',
                    data: formData,
                    datatype:'json'
                })//Final ajax
                .done(function(response){
                    console.log(response.id.toString());
                });//final done
            });//final btin registra click

            $("#Btn_Cancela").click(function(){
            });//final btn registra click
            
        });
    </script>
</html>