
<h2> Heya {{ firstname}} </h2>
<p>Este es Un correro de confirmacion. La siguiente es una contrasena provicional que debes cambiar para poder tener acceso al sistema.</p>
<p>Tu contrasena provicional es <b>abc1234</b>
<p><a href="localhost:3332/login">Cambiar Contrasena</a></p>